@font-face { font-family: 'Barlow';
    font-style: normal;
    font-weight: 300; font-display: swap;
    src: local('Barlow Light'),
      local('Barlow-Light'),
      url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3p-ks6Vop.ttf) format('truetype');
  }

  body{
    background-color: #1F1F1F;
    width: 100%;
    height: 100%;
  }

  .a {
    font-family: 'Barlow';
    font-size: 95%;
    color: rgba(255, 255, 255, 0.86);
  }

  .List {
    margin-top: 140px;
    margin-left: 80px;
    padding-right: 28%;
    padding-bottom: 10%;
    text-align: justify;
    max-height: 100vh;
    font-family: 'Barlow';
    line-height: 1.4;
    font-size: 98%;
    color: rgba(255, 255, 255, 0.86);
    z-index: 5000;
    opacity: 0.86;
    -webkit-animation: pagefade 2.0s;
  }

  @-webkit-keyframes pagefade {
    from { opacity: 0; }
    to   { opacity: 0.86; }
  }

  @media only screen and (max-width: 680px) {
    .List {
    margin-top: 120px;
    margin-left: 32px;
    padding-right: 18%;
    padding-bottom: 15%;
    text-align: left;
    max-height: 100vh;
    font-family: 'Barlow';
    line-height: 1.4;
    font-size: 98%;
    color: rgba(255, 255, 255, 0.79);
    z-index: 5000;
    opacity: 0.86;
    -webkit-animation: pagefade 2.0s;
    }

    @-webkit-keyframes pagefade {
      from { opacity: 0; }
      to   { opacity: 0.86; }
    }
  }

  br {
    display: block;
    content: "";
    margin-top: 3px;
  }

  .List a { /*selects only the <a></a> element inside of the div List*/
    opacity: 0;
  }

  a:link {
    color: rgba(255, 255, 255, 0.96);
  }

  a:visited {
    color: rgba(255, 255, 255, 0.82);
  }

/*Navigation Bar*/

#divfix{
  position: fixed;
  padding-left: 91px;
  width: 100%;
  max-width: 500px;
  top: 2vh;
  margin-left: -6px;
  z-index: 3000;
  font-style: italic;
  -webkit-animation: textfade 2.0s;
}

@-webkit-keyframes textfade {
  from { opacity: 0; }
  to   { opacity: 0.86; }
}

@media only screen and (max-width: 680px) {
  #divfix{
    position: fixed;
    padding-left: 45px;
    width: 100%;
    max-width: 500px;
    top: 2vh;
    z-index: 3000;
    font-style: italic;
    -webkit-animation: textfade 2.0s;
  }

  @-webkit-keyframes textfade {
    from { opacity: 0; }
    to   { opacity: 0.86; }
  }
}

nav ul li{
  display:inline-block;
  list-style:none;
  width: 18%;
  max-width: 150px;
  text-align:left;
  font-family: 'Barlow';
  font-size: 80%;
  color:rgba(255, 255, 255, 0.38);
  padding:2px 0 6px 0;
  margin:-1px -15px -1px -5px;
  cursor:pointer;
  transition:all .2s;
  -webkit-transition:all .2s;
}

@media only screen and (max-width: 680px) {
  nav ul li{
    display:inline-block;
    list-style:none;
    width: 18%;
    min-width: 100px;
    max-width: 150px;
    text-align:left;
    font-family: 'Barlow';
    font-size: 78%;
    color:rgba(255, 255, 255, 0.38);
    padding:2px 0 6px 0;
    margin:-1px -15px -1px -5px;
    cursor:pointer;
    transition:all .2s;
    -webkit-transition:all .2s;
  }
}

nav ul{
  border: none;
  position:absolute;
  width: 100%;
  height: 3.5vh;
  padding:0;
  z-index:100;
}

.active{
  color:rgba(255, 255, 255, 0.86);
}

/*Circle navigation bar*/

.wrapper {
  padding: 0;
  width: 100%;
  -webkit-animation: linefade 2.5s;
}

@-webkit-keyframes linefade {
  from { opacity: 0; }
  to   { opacity: 0.86; }
}

.wrapper{
  height: 100%;
}

.nodes {
  position: absolute;
  margin-top: -5px;
  margin-left: 5px;
  float: left;
}

.line {
  position: fixed;
  width: 53vw;
  height: 1px;
  top: 70px;
  left: 88px;
}

@media only screen and (max-width: 680px) {
  .line {
    position: fixed;
    width: 60vw;
    min-width: 240px;
    height: 1px;
    top: 70px;
    left: 40px;
  }
}

.line .red-container {
  overflow: hidden;
  height: 1px;
  width: 58px;
}

.line .blue {
  background-color: rgba(69, 174, 233, 0.3);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF232E3A', endColorstr='#FF446B95');
  background-size: 100%;
  opacity: 0.6;
  background-image: linear-gradient(to right, rbga(255,255,255, 0.86) 0%, rbga(255,255,255, 0.6) 29%, rbga(255,255,255, 0.86) 55%, rbga(255,255,255, 0.6) 100%);
}

.node {
  margin-left: 90px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  float: left;
  margin-right: -3px;
  position: relative;
}

@media only screen and (max-width: 680)  {
  .node {
    margin-left: 85px;
    left: -30px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    float: left;
    margin-right: -3px;
    position: relative;
  }
}

.node .splash {
  box-shadow: 0px 0px 8px 2px rgba(69, 174, 233, 0.53);
  transform: translateZ(0px) scale(1);
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  pointer-events: none;
  opacity: 1;
}
.node.active .active-circle {
  transform: scale(1);
  opacity: 1;
}
.node.active .splash {
  transition: transform 1200ms, opacity 1500ms;
  transform: translateZ(0px) scale(2.5);
  opacity: 0 !important;
}
.node.active .inactive-circle {
  transition: opacity 200ms;
  opacity: 0;
}
.node .active-circle {
  transition: all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
  transform: scale(0.7);
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #4b1202;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF4B1202', endColorstr='#FFFD8107');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #4b1202), color-stop(60%, #e03a0d), color-stop(100%, #fd8107));
  background-image: -moz-linear-gradient(left bottom, #4b1202 0%, #e03a0d 60%, #fd8107 100%);
  background-image: -webkit-linear-gradient(left bottom, #4b1202 0%, #e03a0d 60%, #fd8107 100%);
  background-image: linear-gradient(to right top, #4b1202 0%, #e03a0d 60%, #fd8107 100%);
}
.node .active-circle .cover {
  transform: translateZ(0px);
  width: 12px;
  height: 12px;
  background:rgba(255, 255, 255, 0.86);
  border-radius: 100%;
  position: absolute;
  top: 60px;
  left: 2px;
}
.node .active-circle .white {
  transition: all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  transform: translateX(5px) translateY(5px) scale(1);
}

.node .inactive-circle {
  width: 12px;
  height: 12px;
  display: block;
  background: rgba(255, 255, 255, 0.86);
  position: absolute;
  border-radius: 100%;
  top: 50px;
  left: -92px;
  z-index: 8000;
}

@media only screen and (max-width: 680px)  {
  .node .inactive-circle {
    width: 12px;
    height: 12px;
    display: block;
    background: rgba(255, 255, 255, 0.86);
    position: absolute;
    border-radius: 100%;
    top: 50px;
    left: -92px;
    z-index: 8000;
  }
}

.node:hover {
  cursor: pointer;
}
.node:hover .active-circle {
  transition: all 200ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
  transform: scale(0.84);
}
.node:hover .active-circle .white {
  transition: all 200ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
  transform: translateX(4.7px) translateY(5px) scale(1.42);
}
.node:hover .inactive-circle {
  transition: all 200ms cubic-bezier(0.63, 0.62, 0.48, 1.84);
  transform: scale(0.85);
}

#hider {
  position: fixed;
  width: 100%;
  top: 0.1px;
  height: 90px;
  opacity: 0.9;
  background: #1f1f1f;
}
